.main-content, #main-content{
    padding-top: 10px;
}
#main-content .row{
    padding-bottom: 20px;
}

#resource-content .row{
    padding-bottom: 20px;
}

#vark-content .row{
    padding-bottom: 20px;
}

.main-content .row{
    /*padding-bottom: 30px;*/
}
.coming{
    color: darkred;
}

